body {
    background-color: aqua;
    height: 75%;
    width: auto;
}

#outer-container {
    display: block;
    text-align: center;
    margin: auto;
    width: 75%;
    height: 100vh;
    background-color: aquamarine;
}

.round-radius {
    border-radius: 60px;
}
